{% extends('base.html')  %}
{% block body %}

<h1 class="mt-5">Projects</h1>
    <form method="POST" action="/add_project">
        <div class="form-group row">
            <div class="col-1"></div>
            <div class="col-9">
                <input type="text" class="form-control" name="title">
            </div>
            <div class="col-auto">
                <button class="btn btn-success">Create</button>
            </div>                
        </div>
    </form>

    <div class="row bg-dark py-3 mb-3">
        <div class="col-8 text-white"><b>Project Title</b></div>
        <div class="col-2 text-white"><b>Day Created</b></div>
    </div>

    {% for project in all_projects %}
    <div class="row py-3 border border-grey border-bottom-1 border-top-0 border-left-0 border-right-0">
        <div class="col-1"><a href="{{ url_for('tasks', project_id=project.id) }}" class="btn btn-sm btn-primary">tasks</a></div>
        <div class="col-7">{{ project.title }}</div>
        <div class="col-2">{{ project.created_at }}</div>
        <div class="col-auto">
            <a href="{{ url_for('edit_project', project_id=project.id) }}" class="btn btn-sm btn-warning">edit</a>
            <a href="{{ url_for('delete', project_id=project.id) }}" class="btn btn-sm btn-danger">delete</a>
        </div>
    </div>
    {% endfor %}

{% endblock body %}